{#
    Renders link user

    parameters:
        entity: user
#}
{% macro renderLinkUserPage(entity) %}
	{% if is_granted('view', entity) %}
		<a href="{{ path('user_show', { 'user': entity.id }) }}">{{ entity.username }}</a>
	{% else %}
		{{ entity.username }}
	{% endif %}
{% endmacro %}

{#
    Renders date in format d.m.Y H:i:s and applyes user timezone

    parameters:
        value: datetime
#}
{% macro formatDateAndTimeZone(value) %}
	{{ value|date("d.m.Y H:i:s", app.user.timezone) }}
{% endmacro %}