nav {
    background: #3B73AF;
    color: #ffffff;
}

nav a {
    color: #ffffff;
}

nav a:hover {
    color: #d2e8f5;
    text-decoration: none;
}

nav .logo {
    margin-right: 15px;

}

nav .logo a {
    font-size: 40px;
}

nav .auth {
    line-height: 65px;
}

nav .menu {
    float: left;
    line-height: 65px;
    font-size: 18px;
}

.block-with-title {
    border: 1px solid #3B73AF;
    margin-bottom: 20px;
}

.block-with-title .no-data{
    min-height: 250px;
    line-height: 230px;
    text-align: center;
    color: darkgrey;
}

.block-with-title .footer {
    padding: 0 10px 10px;
}

.block-with-title h2 {
    color: #ffffff;
    background: #3B73AF;
    margin: 0 0 10px 0;
    padding: 10px 10px;
    font-size: 16px;
}

nav .auth img {
    border-radius: 24px/18px;
}

.form-group .error {
    color: #a94442;
    padding-left: 30px;
    margin-top: 5px;
}

.grid-user .status {
    text-align: center;
}

.fos_user_user_show img {
    margin-bottom: 20px;
}

.user-page-image {
    margin-bottom: 20px;
}

table td.status {
    text-align: center;
    width: 60px;
}

td {
    vertical-align: middle !important;
}

td .avatar{
    margin-right: 5px;
}

.flash-notice {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    margin-bottom: 5px;
    margin-left: -30px;
}
.home-activities .activity-list{
    margin: 10px;
}

h1 {
    padding: 0;
    margin: 0;
}

header {
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

ul {
    list-style-type:none;
    padding: 0;
}

header{
    margin: 0 -15px;
    padding: 0 15px;
    min-height: 70px;
    margin-bottom: 20px;
}

header.clear{
    background: none;
}

header.breadcrumbs .breadcrumbs{
    padding-top: 10px;
    margin-bottom: 5px;
}

header.breadcrumbs h1{
    line-height: 24px;
}

header h1 {
    line-height: 70px;
}

.issue-header {
    padding-top: 15px;
}

.information .title{
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: rgb(51, 51, 51);;
    border-bottom: 1px solid #ccc;
}

.information .content {
    margin: 10px 10px;
}

.information.issue.detail dd,
.information.issue.detail dt {

}

.information.user.detail dl {
    margin-bottom: 0;
    margin-top: 5px;
}

.information.user.detail .content {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;

}

.information.user.detail .content > div {
    margin: auto;
    width: 400px;
}

dt{
    color: rgb(112, 112, 112);
    font-weight: normal;
}dd{
    color: rgb(51, 51, 51);
}

 .actions{
     padding: 10px 0;
 }



.activity-list{
    color: #a0a0a0;
    padding-left: 0;
}

.activity-list li{
    margin-bottom: 8px;
}

.activity-list .message {
    overflow: hidden;
    color: #555;
}


.activity-list .user {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}

.activity-list .time {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 5px;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.activity-list .user .image img {
    width: 48px;
}


.information.activity .title {
    margin-bottom: 10px;
}

.actions .btn {
    margin-right: 10px;
}

.list-comments li .actions{
    display: inline-block;
    float: right;
    padding: 0;
}

.information.users img{
    width: 24px;
}

.information.users dt {
    margin-bottom: 7px;
}

.list-comments li{
    padding: 5px 10px;
}

.list-comments li:hover {
    background: #eee;
    border-left: 7px solid #3B73AF;
    margin-left: -7px;
}

.header-user {
    padding: 19px 0;
    overflow: hidden;
}

.header-user img {
    display: inline-block;
    margin-right: 10px;
    float: left;
}

.header-user p {
    display: inline-block;
    font-size: 24px;
    float: left;
    line-height: 48px;
    margin: 0;
}

h1{
    font-size: 24px;
}