nav {
    background: #3B73AF;
    color: #ffffff;
    margin-bottom: 40px;
}

nav a {
    color: #ffffff;
}

nav a:hover {
    color: #d2e8f5;
    text-decoration: none;
}

nav .logo {
    margin-right: 15px;

}

nav .logo a {
    font-size: 40px;
}

nav .auth {
    line-height: 65px;
}

nav .menu {
    float: left;
    line-height: 65px;
    font-size: 18px;
}

.block-with-title {
    border: 1px solid #3B73AF;
}

.block-with-title .no-data{
    min-height: 250px;
    line-height: 230px;
    text-align: center;
    color: darkgrey;
}

.block-with-title .footer {
    padding: 0 10px 10px;
}

.block-with-title h2 {
    color: #ffffff;
    background: #3B73AF;
    margin: 0 0 10px 0;
    padding: 10px 20px;
    font-size: 16px;
}

nav .auth img {
    border-radius: 24px;
}

.form-group .error {
    color: #a94442;
    padding-left: 30px;
    margin-top: 5px;
}

.grid-user .status {
    text-align: center;
}

.fos_user_user_show img {
    margin-bottom: 20px;
}

.user-page-image {
    margin-bottom: 20px;
}

table td.status {
    text-align: center;
    width: 60px;
}

td {
    vertical-align: middle !important;
}

td .avatar{
    margin-right: 5px;
}