{% extends '::base.html.twig' %}

{% form_theme form 'TrackerProjectBundle:Form:fields.html.twig' %}

{% block title %}
    {{ 'project.create'|trans }}
{% endblock %}

{% block header %}
    <header class="project">
        <h1>{{ 'project.create'|trans }}</h1>
    </header>
{% endblock %}

{% block content %}
    {{ form(form, {'attr':{'class':"form-horizontal"}}) }}
{% endblock %}
