{% extends '::base.html.twig' %}

{% form_theme form 'TrackerProjectBundle:Form:fields.html.twig' %}

{% block body -%}
    <h3>{{ "project.create"|trans }}</h3>

    <p>
        <a href="{{ path('project') }}">
            {{ "project.back"|trans }}
        </a>
    </p>

    {{ form(form, {'attr':{'class':"form-horizontal"}}) }}


{% endblock %}
