{% extends '::base.html.twig' %}

{% form_theme form 'TrackerProjectBundle:Form:fields.html.twig' %}

{% block body -%}
	<h3>{{ "issue.page.create.title"|trans }}</h3>

	<p>
		<a href="{{ path('project_issues', {'project': project.code}) }}">
			{{ "issue.action.back"|trans }}
		</a>
	</p>

	{{ form(form, {'attr':{'class':"form-horizontal"}}) }}
{% endblock %}
