{% extends '::base.html.twig' %}

{% block title %}
	{{ "issue.page.list.title"|trans }}
{% endblock title %}

{% block header %}
    <header>
        <h1>{{ "issue.page.list.title"|trans }}</h1>
    </header>
{% endblock header %}

{% block content %}
    <div class="actions">
        {% if is_granted('create', emptyEntity) %}
            <a class="btn btn-default" href="{{ path('issue_new') }}">
                {{ "issue.action.create"|trans }}
            </a>
        {% endif %}
    </div>

	{% include 'TrackerIssueBundle:Default:partial/gridTasks.html.twig' with { 'project': project, 'entities': entities } %}
{% endblock %}
