{% extends '::base.html.twig' %}

{% block title %}
    {{ "issue.page.list.title"|trans }}
{% endblock title %}

{% block body -%}
    <h3>{{ "issue.page.list.title"|trans }}</h3>

    <p>
        <a href="{{ path('issue_new') }}">
            {{ "issue.action.create"|trans }}
        </a>
    </p>

    <div class="container">
        {% include 'TrackerIssueBundle:Default:partial/gridTasks.html.twig' with { 'entities': entities } %}
    </div>
{% endblock %}
