{% extends '::base.html.twig' %}

{% form_theme form 'TrackerProjectBundle:Form:fields.html.twig' %}

{% block body -%}
    <h1>Issue creation</h1>

    <p>
        <a href="{{ path('issue') }}">
            Back to the list
        </a>
    </p>


    {{ form(form, {'attr':{'class':"form-horizontal"}}) }}



{% endblock %}
